{% extends 'base.html.twig' %}

{% block title %}calendrier{% endblock %}


  
{% block body %}


<div id="calendar"></div>
<script src="{{ asset('assets/js/calendrier.js') }}"></script>
{# <script src="{{ node_modules('node_modules/fullcalendar/interaction/index.js') }}"></script> #}
    
{% endblock %}
