{% extends 'baseCoDeco.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
    {# formulaire de connection #}
<form method="post">
    {% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    
    
    <h1 class="h3 mb-3 font-weight-normal d-flex justify-content-center mt-4">Connexion</h1>
    <div class="d-flex justify-content-center">
    <div class="text-center my-2">
        <label for="inputEmail" type="email"  placeholder="Enter email">Email</label>
    <div>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mt-2"
                autocomplete="email" required autofocus>
                <div  class="text-center my-2">
            <label for="inputPassword">Mot de passe</label>
                </div>
            <input type="password" name="password" id="inputPassword" class="form-control mt-2"
                autocomplete="current-password" required>
            
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            
            {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me
            functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
            #}

            {# Lien mot de passe oublié #}
            <div class="text-center my-2">
            <a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié</a>
            </div>


            {# submit de connection #}
            <div class="d-flex justify-content-center mt-2">
            <button class="btn btn-primary btn-lg" type="submit">
                Se connecter
            </button>
            </div>
    </div>
    </div>
    </div>
</form>
{% endblock %}