{{ form_start(formEditUserAdmin) }}
    {{ form_widget(formEditUserAdmin) }}
    <button class="btn btn-primary mt-2">{{ button_label|default('Modifier') }}</button>
{{ form_end(formEditUserAdmin) }}
