<form method="post" action="{{ path('app_inscrit_delete', {'id': inscrit.id}) }}" onsubmit="return confirm('Etes vous sûr de supprimer l'inscription de cet élève?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ inscrit.id) }}">
    <button class="btn btn-warning mt-2">Supprimer</button>
</form>
